{% extends "layout.twig" %}

{% block content %}
<h1> Dashboard </h1>
<ul>
  <li> <a href="user/add"> Add user </a> </li>
  <li> <a href="job/add"> Add Job </a> </li>
</ul>
<br>
<a href="/IntroPhp/logout"> Logout</a>
{% endblock %}
